<style>
/* Default color for both light and dark modes */
b {
  color: #000; /* Set your default text color */
}

/* Dark mode styles */
.dark-mode b {
  color: #fff; /* Set your text color for dark mode */
}
</style>
<main>
  <div class="container mt-30">
    <div class="row">
      <!-- Links on the left side -->
      <div class="col-md-30">
        <p><b class="dark-mode">Select The Role You Want To Login</b></p>
        <div class="text-left">
   <ul>
     <li><a href="/tasks/task_list">To-Do List</a></li><br>
     <li><a href="/page1">Page 2</a></li><br>
     <li><a href="/page1">Page 3</a></li><br>
     <li><a href="/page1">Page 4</a></li><br>
  </ul>
          <!-- Add more links as needed -->
        </div>
      </div>
    </div>
  </div>
</main>

